/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty  {
    border: 1px solid #a94442; 
  }
  
  input.ng-valid.ng-dirty  {
    border: 1px solid #42A948; 
  }

  body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/assets/app-login-background.jpeg');
    height:100vh;
    background-size:cover;
    background-position:center;
  }

  html{background-color:#000 !important;}