  /* You can add global styles to this file, and also import other style files */
  input.ng-invalid.ng-dirty  {
    border: 1px solid #a94442; 
  }
  
  input.ng-valid.ng-dirty  {
    border: 1px solid #42A948; 
  }

  body{
    background-image:linear-gradient(rgba(255,255,255,0.6),rgba(0,0,0,0.2)),url('assets/app-login-background.jpeg');
    height:100vh;
    background-size:cover;
    background-position:center;
  }

  .container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .login-form, .register-form{
    width:500px;
    padding:30px 50px;
    background-color: rgba(255,255,255,0.7);
  }

  /* override bootstrap input focus style */
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}